@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: #070707;

    font-family: "Gilroy-medium";
    text-align: center;
    font-size: 1.125rem;
}

h2 {
    margin-bottom: 50px;
    font-size: 2.125rem;
    font-family: "Gilroy-bold";
}


img {
    vertical-align: top;
}

ul {
    list-style: none;
}

#home img,
#portfolio img {
    max-width: 100%;
    height: auto;
}

header nav a {
    text-decoration: none;
    color: #828282;
    font-size: 1.125rem;
    font-family: "Gilroy-bold";
}

header nav a:hover {
    color: #070707;
    text-shadow: 1px 0 1px #070707, 0 1px 1px #070707, -1px 0 1px #070707, 0 -1px 1px #070707;
}

.active {
    color: #070707;
}

.container {
    width: min(90%, 970px);
    margin-inline: auto;
}

header .container {
    padding: 27.5px 0;
    border-bottom: 1px solid #828282;
}

.main-menu ul {
    font-size: 0;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li:not(:last-child) {
    margin-right: 40px;
}


.home-section {
    padding-top: 12px;
}

.home-section h1 {
    margin-bottom: 50px;
    font-size: 3rem;
    font-family: "Gilroy-bold";
    text-align: left;
}

#about_me {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 100px;
}

#about_me h2 {

    margin-bottom: 50px;
}

section,
footer {
    padding: 100px 0;
}


.content {
    max-width: 480px;
    margin: 0 auto;
}

.content p:not(:last-child) {
    margin-bottom: 30px;
}

hgroup {
    margin-bottom: 50px;
}

hgroup h2 {
    margin-bottom: 20px;
}

.skills-list {
    font-size: 0;
}

.skills-list li {
    display: inline-block;
    font-size: 0.875rem;
    width: 170px;
    margin-left: -1px;
}

.skills-list li:not(:last-child) {
    margin-right: 97px;
}

.skills-list figcaption {
     font-family: "Gilroy-bold";
}

.skills-list figure {
    margin-bottom: 60px;
    color: #828282;
}

.skills-list figure img {
    margin-bottom: 25px;
}

.skills-list li:last-child {
    margin-right: 0;
}

.gray-star {
    opacity: .2;
}




#portfolio {
    background-color: #F6F6F6;
}


.portfolio-item a {
    text-decoration: underline;
    color: #070707;
    font-family: "Gilroy-medium";
}

.portfolio-item img {
    margin-bottom: 40px;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 70px;
}

.portfolio-item a:hover {
    text-decoration: none;
}


footer .container {
    width: min(90%, 310px)
}


.btn {
    display: inline-block;
    min-width: 80px;
    background-color: #070707;
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    border-radius: 22px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #070707;
    font-weight: 700;
    letter-spacing: 0.1125rem;
    font-family: "Gilroy-bold";
}

.btn:hover {
    background-color: #fff;
    color: #070707;
    border: 1px solid #070707;
}

.button-wrap {
    margin-bottom: 40px;
}


.footer-navigation {
    font-size: 0;
    margin-bottom: 60px;
}

.footer-navigation li {
    display: inline-block;
}

.footer-navigation li+li {
    margin-left: 50px;
}

.footer-navigation li img {
    width: 40px;

}

.footer-navigation li a {
    opacity: .7;
}

.footer-navigation li a:hover {
    opacity: 1;
}


footer hgroup {
    padding: 0 10px;
}

.footer-last-text {
    color: #828282;
    font-size: 0.875rem;
}