* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --bg-main-color: #3B3F45;
    --bg-secondary-color: #4A4F56;
    --header-active: #FF8984;
    --light-gray: #88839E;
    --purple-dark: #625E77;
    --checked: #7A7593;
    --text-checked: #9B96AC;
}

body {
    background-color: var(--bg-main-color);
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: min(90%, 800px);
    margin: 0 auto;
}

header {
    background-color: var(--bg-secondary-color);
    text-align: center;
    color: var(--header-active);
    padding: 23px 15px;

    h1 {
        margin-bottom: 6px;
        font-size: 2.25rem;
    }

    p {
        font-size: 1.5rem;
    }

}

main {
    padding: 40px 20px;
}

footer {
    text-align: center;
    color: var(--header-active);
    font-size: 1.75rem;

    .container {
        background-color: var(--bg-secondary-color);
        padding: 16px 20px;
    }
}

.products {

    transition: all 0.2 ease;

    li {
        background-color: var(--light-gray);
        font-size: 1.6875rem;


        &:nth-child(even) {
            background-color: var(--purple-dark);
        }

        input {
            display: none;
        }

    }

    input {
        &:checked+label {
            background-color: var(--checked);
            color: var(--text-checked);

            &::after {
                display: inline-block;
            }

            span::after {
                display: inline-block;
            }
        }
    }

    label {
        display: block;
        padding: 18px 15px 18px 58px;
        position: relative;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        color: #fff;
        font-size: 27px;
        line-height: 32px;

        &::after,
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
        }

        &::before {
            width: 28px;
            height: 28px;
            background-color: #fff;
            left: 20px;
            top: 15px;
        }

        &::after {
            display: none;
            width: 12px;
            height: 8px;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            left: 25px;
            top: 20px;
            rotate: -45deg;
        }

        &:hover {
            border-color: #fff;
        }

        &:active {
            background-color: var(--header-active);
        }

        small {
            font-size: 1.0625rem;
            line-height: 22px;
            vertical-align: middle;
            position: relative;
            top: -2px;

            &::before {
                content: "("
            }

            &::after {
                content: ")"
            }
        }

        span {
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                display: none;
                width: calc(100% - 6px);
                height: 2px;
                background-color: var(--text-checked);
                position: absolute;
                top: 16px;
                left: 0;
            }
        }

    }

}